button {
  width: 140px;
  position: relative;
  color: white;
  background-color: salmon;
  border: none;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 700;
  font-size: 18px;
}

button:hover {
  background-color: rgb(187, 91, 80);
}
button:active{
  background-color: rgb(100, 39, 32);
  padding: 8px 12px;
}
